@import "colors";
@import "hwt";

/*
    Parameters
*/
$opacity: 0.3;

html,body{
    margin: 0;
}
body{
    width: 80vw;
    max-width: 1280px;

    margin: 0 auto;
    background-color: $white;
    color: $black;
    font-family: 'Cutive Mono', monospace;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

/*
    General Formatting
*/
.currentline{
    background-color: rgba($gray, $opacity/5);
}
.verse{
    background-color: $verse;
}

/*
    Header
*/
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    #notepad-buttons{
        margin: 0;
        #file-upload{
            display: inline-block;
            height: 100%;
            margin: 0 10px;

            #upload{
                position:absolute;
                top: -1000px;
            }
        }
        button,a {
            display: inline-block;
            outline: none;
            border: none;
            margin: 0 10px;
            padding: 0;
        }
        img{
            margin: auto 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

/*
    Info
*/
p{
    margin: 10px 0;
    font-size: 1em;
    line-height: 1.5em;
}
div{
    margin-bottom: 50px;
}