.hwt-container {
  display: inline-block;
  position: relative;
  overflow: hidden !important;
  -webkit-text-size-adjust: none !important; }

.hwt-backdrop {
  position: absolute !important;
  top: 0 !important;
  right: -99px !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-right: 99px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important; }

.hwt-highlights {
  width: auto !important;
  height: auto !important;
  border-color: transparent !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  color: transparent !important;
  overflow: hidden !important; }

.hwt-input {
  display: block !important;
  position: relative !important;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font: inherit;
  overflow-x: hidden !important;
  overflow-y: auto !important; }

.hwt-content {
  border: 1px solid;
  background: none transparent !important; }

.hwt-content mark {
  padding: 0 !important;
  color: inherit; }

/*
    Parameters
*/
html, body {
  margin: 0; }

body {
  width: 80vw;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Cutive Mono', monospace; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

/*
    General Formatting
*/
.currentline {
  background-color: rgba(39, 41, 50, 0.06); }

.verse {
  background-color: #E0F2E9; }

/*
    Header
*/
header {
  display: flex;
  justify-content: space-between;
  padding: 50px 0; }
  header #notepad-buttons {
    margin: 0; }
    header #notepad-buttons #file-upload {
      display: inline-block;
      height: 100%;
      margin: 0 10px; }
      header #notepad-buttons #file-upload #upload {
        position: absolute;
        top: -1000px; }
    header #notepad-buttons button, header #notepad-buttons a {
      display: inline-block;
      outline: none;
      border: none;
      margin: 0 10px;
      padding: 0; }
    header #notepad-buttons img {
      margin: auto 0; }
      header #notepad-buttons img:hover {
        cursor: pointer; }

/*
    Info
*/
p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5em; }

div {
  margin-bottom: 50px; }

/*# sourceMappingURL=about.css.map */
