@import "colors";
@import "hwt";

/*
    Parameters
*/
$opacity: 0.3;

html,body{
    margin: 0;
}
body{
    width: 80vw;
    max-width: 1280px;

    margin: 0 auto;
    background-color: $white;
    color: $black;
    font-family: 'Cutive Mono', monospace;
}

h1,h2,h3,h4,h5,p{
    margin: 0;
}

/*
    General Formatting
*/
.currentline{
    background-color: rgba($gray, $opacity/5);
}
.verse{
    background-color: $verse;
}

/*
    Header
*/
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;

    #notepad-buttons{
        #file-upload{
            display: inline-block;
            height: 100%;
            margin: 0 10px;

            #upload{
                position:absolute;
                top: -1000px;
            }
        }
        button,a {
            display: inline-block;
            outline: none;
            border: none;
            margin: 0 10px;
            padding: 0;
            background: none;
        }
        img{
            margin: auto 0;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

/*
    Notepad
*/
#notepad-container{
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-column-gap: 10px;

    width: 100%;

    margin: 0px auto;
    padding-bottom: 50px;

    font-size: 1em;
}
#notepad-line-numbers{
    text-align: left;
    color: rgba($gray, $opacity);
    line-height: 1.2em;

    .selected{
        color: $gray;
    }
}
#notepad-syllables{
    text-align: right;
    color: rgba($blue, $opacity);
    line-height: 1.2em;

    .selected{
        color: $blue;
    }
}
.hwt-content{
    line-height: 1.2em;
    white-space: pre !important;
}
#notepad{
    display: inline-block;
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    border: none;
    border-radius: 0;
    outline: none;

    overflow-x: scroll;
    font-family: inherit;
    font-size: inherit;
    resize: none;
    line-height: 1.2em;

    background-color: transparent;

    white-space: nowrap;

    &:hover{
        cursor: text;
    }
}

/*
    Info
*/
#info-container{
    padding-bottom: 50px;
    #words-header{
        font-size: 1.5em;
    }
    #words{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 10px 0;
        list-style: none;

        li{
            margin: 5px 50px;
            margin-left: 0;
            font-size: 1em;
        }
    }
}
