<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scribe</title>

        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
        <script src="{{ url_for('static',filename='js/jquery.highlight-within-textarea.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/underscore-min.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/download2.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
    </head>
    <body>
        <header>
            <h1>Scribe</h1>
            <div id="notepad-buttons">
                <label id="file-upload">
                    <input id="upload" type="file" name="file" />
                    <img src="{{ url_for('static',filename='img/upload.svg') }}"/>
                </label>
                <button onclick="downloadFile()">
                    <img src="{{ url_for('static',filename='img/download.svg') }}"/>
                </button>
                <a href="/about">
                    <img src="{{ url_for('static',filename='img/info.svg') }}"/>
                </a>
            </div>
        </header>
        
        <div id="notepad-container">
            <div id="notepad-line-numbers">
                <div>1</div>
            </div>
            <textarea id="notepad" onkeyup="updateNumbers()" onclick="findPointer()" autofocus></textarea>
            <div id="notepad-syllables">
                <div>0</div>
            </div>
        </div>

        <div id="info-container">
            <h2 id="word-header"></h2>
            <ul id="words">
            </ul>
        </div>
    </body>
</html>