<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scribe</title>

        <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/about.css') }}">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
        <script src="{{ url_for('static',filename='js/jquery.highlight-within-textarea.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/underscore-min.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/download2.js') }}" defer></script>
        <script src="{{ url_for('static',filename='js/script.js') }}" defer></script>
    </head>
    <body>
        <header>
            <h1>Scribe</h1>
            <div id="notepad-buttons">
                <a href="https://gitlab.com/andrewxiaoyu/scribe">
                    <img src="{{ url_for('static',filename='img/gitlab.svg') }}"/>
                </a>
                <a href="/">
                    <img src="{{ url_for('static',filename='img/home.svg') }}"/>
                </a>
            </div>
        </header>
        <div>
            <h2>What is Scribe?</h2>
            <p>Scribe is a basic text editor for songwriters and poets. It provides a syllable counter and a rhyming dictionary, two tools which I've used often to write lyrics for my music. I hope you will find it as helpful as I do. Enjoy!</p>
            <p>- Andrew Wang</p>
        </div>
        <div>
            <h3>Features</h3>
            <p>Click on the buttons on the top right of the notepad to upload and download your writing.</p>
            <p>Left side of the notepad - line numbers</p>
            <p>Right side of the notepad - syllable count for each line</p>
            <p>[Verse] - Highlighted green to identify individual sections</p>
            <p>Ctrl B - Find rhymes</p>
            <p>Ctrl I - Find stresses</p>
            <p>~ - Linguistic overview</p>
        </div>
        <div>
            <h2>Acknowledgements</h2>
            <p>Thanks to: textacy Python library, pronouncing Python library, and the CMU Pronouncing dictionary for making this app possible! View links and see more dependencies on the repository page.</p>
        </div>
    </body>
</html>